<ion-view title="Home">
  <div ng-if="user.role == 'Guru'">
    <div class="content has-header">
      <div class="center">
        <button class="button button-small button-stable button-outline button-inline" ng-click="syncMataPelajaranAktif()">
          Sync Mata Pelajaran Aktif
        </button>
        <button class="button button-small button-stable button-outline button-inline" ng-click="syncHasilUlanganHarian()">
          Sync Hasil Ulangan Harian
        </button>
        <button class="button button-small button-stable button-outline button-inline" ng-click="syncHasilUTS()">
          Sync Hasil UTS
        </button>
        <button class="button button-small button-stable button-outline button-inline" ng-click="syncHasilUAS()">
          Sync Hasil UAS
        </button>
        <button class="button button-small button-stable button-outline button-inline" ng-click="broadcastPengumuman()">
          Broadcast pengumuman
        </button>
      </div>
    </div>
  </div>

  <div ng-if="user.role == 'Siswa'">
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="matpel in matapelajaran">
            <button class="button button-small button-stable button-outline button-inline">
              {{matpel.nama}}
            </button>
            </ion-item>
        </ion-list>
      </ion-content>
    </div>
</ion-view>