<ion-slide-box on-slide-changed="slideChanged(index)">
  <ion-slide>
    <div class="content ionic-pseudo padding">
      <h6>Selamat datang di aplikasi SayangJuara!</h6>
      <div id="logo">
        <img src="img/intro.png">
      </div>
      <div align="center">Aplikasi ini akan membantu guru, wali murid dan siswa dalam bekerjasama mencetak generasi yang ahli dalam skill, dan juara dalam prestasi</div>
      <div class="center">
        <button class="button button-small button-positive">
          &nbsp;&nbsp;&nbsp;Silahkan geser untuk mengetahui caranya&nbsp;&nbsp;&nbsp;
        </button>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="content ionic-pseudo padding intro-two">
      <h4>Bagi Guru</h4>
      <div id="list">
        <ol>
          <li>Menginvitasi orang tua murid untuk bekerja sama dalam aplikasi ini</li>
          <li>Mempersiapkan jadwal pelajaran aktif dan seketika menginformasikannya ke semua anak didik</li>
          <li>Memperbaharui hasil nilai ulangan harian, UTS dan UAS</li>
          <li>Membroadcast pengumuman kepada murid, sekaligus kepada orang tua</li>
          <li>Guru akan mendapat penilaian tingkat kepuasaan dari murid dan wali murid, yang pada akhirnya akan berimbas pada rating sekolah</li>
          <li>Dapat mempublikasikan kursus keahlian secara terbuka pada murid mana saja yang berminat</li>
        </ol>
      </div>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="content ionic-pseudo padding intro-three">
      <h4>Bagi Wali Murid</h4>
      <div id="list">
        <ol>
          <li>Menginvitasi anak untuk bekerja sama dalam aplikasi ini</li>
          <li>Memantau secara realtime progress belajar mandiri anak</li>
          <li>Mendapatkan update informasi nilai ulangan harian, UTS dan UAS anak</li>
          <li>Dapat menetapkan suatu reward yang akan diberikan kepada anak jika memenuhi prasyarat tertentu</li>
          <li>Mendapatkan informasi secara langsung tentang berbagai kegiatan di persekolahan</li>
          <li>Mendapatkan informasi secara langsung tentang berbagai kegiatan di persekolahan</li>
        </ol>
      </div>
    </div>
    </ion-slide>

  <ion-slide>
    <div class="content ionic-pseudo padding intro-empat">
      <h4>Bagi Murid</h4>
      <div id="list">
        <ol>
          <li>Mendapatkan dukungan moril secara terus-menerus yang sangat berharga dari orangtua</li>
          <li>Tidak akan pernah lagi terlupakan akan jadwal pelajaran</li>
          <li>Mendapatkan update informasi nilai ulangan harian, UTS dan UAS secara instan</li>
          <li>Akan sangat terbantu dengan fitur time tracking belajar yang terbagi menjadi: mengulang pelajaran hari ini dan mempersiapkan pelajaran esok hari</li>
          <li>Akan sangat terbantu dengan fitur voice recording pada setiap belajar mandiri, sehingga dapat terbantukan dalam menghadapi ulangan harian, UTS maupun UAS</li>
          <li>Dapat mengikuti kursus keahlian secara bebas, berdasarkan passion-nya</li>
          <li>Dapat menentukan tingkat kepuasan terhadap guru, secara anonim</li>
        </ol>
      </div>
    </div>
    <div class="bar bar-footer footer-intro">
      <button class="button button-clear pull-left">Kembali</button>
      <button class="button button-clear pull-right positive" ui-sref="login">Selesai</button>
    </div>
  </ion-slide>
</ion-slide-box>