<div class="bar bar-header">
<div class="h1 title">Register</div>
</div>
<div class="content has-header">
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Fullname" ng-model="user.name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Phone" ng-model="user.phone">
    </label>
    <label class="item item-input">      
      <input type="text" placeholder="Email" ng-model="user.email">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="user.password">
    </label>
  </div>
  <div class="padding">
    <button class="button button-block button-positive" ng-click="createUser()">Create Account</button>
  </div>
</div>