<ion-view title="Informasi Sekolah" hide-back-button="true">
    <ion-content>
        <div class="content has-header">
            <div align="center">
                Anda telah terdaftar ke platform SayangJuara berdasarkan referensi dari {{refer_by_user.role}}: {{refer_by_user.name}}
                <!--TODO: informasi sekolah-->
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ui-sref="home.home">Lanjutkan</button>
            </div>
        </div>
    </ion-content>
</ion-view>