<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab icon="ion-ios7-home" icon-off="ion-ios7-home-outline" ui-sref="home.home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios7-star" icon-off="ion-ios7-star-outline" ui-sref="home.current">
    <ion-nav-view name="current-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-ios7-person" icon-off="ion-ios7-person-outline" ui-sref="home.user">
    <ion-nav-view name="user-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>