<ion-view title="Daftar Kursus">
<div class="bar bar-subheader search-queue">
  <h2 class="title">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="search">
      <a ui-sref="teacher.courseChapterCreate">Tambah Kursus</a>
    </label>
  </h2>
</div>
  <ion-content>
    <div class="content ionic-pseudo content-queue">
      <div class="list">
        <a class="item" ng-repeat="l in courseList | filter:search" ui-sref="teacher.courseChapter.edit({course:l.$id,id:1})" ng-bind="l.course_title">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
