<ion-view title="Lacak Waktu Belajar">
    <div class="content has-header">
        <h1>
    <div align="center">
        <timer interval="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
    </div>
        </h1>
            <div align="center">
    <button class="button button-small button-stable button-outline" ng-click="startTrack()">
        Pause
    </button>
    <button class="button button-small button-stable button-outline" ng-click="stopTrack()">
        Stop
    </button>
            </div>
        </div>
</ion-view>